{% extends "layout.njk"%}
    {% block content %}
        <form class="card" method="POST" action="/students">
                <div class="avatar" style="background: url('https://source.unsplash.com/collection/8360382/1600x900') no-repeat center center / cover;"></div>
                <div class="details">
                    <h3>Novo Aluno</h3>

                    {% include 'students/fields.njk' %}
                </div>                
        </form>
        
    {% endblock %}
   
