
                    <div class="item">
                        <div>Avatar URL</div>
                        <div>
                            <input type="url" name="avatar_url" placeholder="http://" value="{{ teacher.avatar_url }}">
                        </div>
                    </div>

                    <div class="item">
                        <div>Nome Completo</div>
                        <div>
                            <input type="text" name="name" placeholder="Nome completo" value="{{ teacher.name }}">
                        </div>
                    </div>

                    <div class="item">
                        <div>Data de nascimento</div>
                        <div>
                            <input type="date" name="birth" value="{{ teacher.birth }}">
                        </div>
                    </div>

                    <div class="item">
                        <div>Grau de escolaridade</div>
                        <div>
                            <select name="select">
                                <option value="Ensino Médio" {% if teacher.select == "Ensino Médio"%} checked {% endif %}>Ensino Médio Completo</option>
                                <option value="Ensino Superior" {% if teacher.select == "Ensino Superior"%} checked {% endif %}>Ensino Superior Completo</option>
                                <option value="mestrado" {% if teacher.select == "mestrado"%} checked {% endif %}>Mestrado</option>
                                <option value="doutorado" {% if teacher.select == "doutorado"%} checked {% endif %}>Doutorado</option>
                            </select>
                        </div>
                    </div>

                    <div class="item">
                        <div>Tipo de Aula</div>
                        <div>
                            <span><input type="radio" name="type" value="Presencial" {% if teacher.type === "Presencial"%} checked {% endif %}>Presencial</span>
                            <span><input type="radio" name="type" value="À distância" {% if teacher.type === "À distância"%} checked {% endif %}>À distância </span>                
                        </div>
                    </div>

                    <div class="item">
                        <div>Área de atuação</div>
                        <div>
                            <input type="text" name="field" placeholder="Digite a área de atuação separado por vírgula" value="{{teacher.field}}">
                        </div>
                    </div>
                    <button type="submit">Salvar</button>